<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.smartcart" version="1.0.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

    <name>SmartCart</name>
    <description>Smart Cart Application</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>

    <!-- Start page -->
    <content src="CustomerLogin.html" />

    <!-- Whitelist Rules to allow communication with your Render backend -->
    <access origin="https://smart-cart-app-h47v.onrender.com/*" />
    <allow-navigation href="https://smart-cart-app-h47v.onrender.com/*" />

    <!-- Allow localhost for laptop testing (optional) -->
    <access origin="http://127.0.0.1:5000/*" />
    <allow-navigation href="http://127.0.0.1:5000/*" />
    <access origin="http://localhost:5000/*" />
    <allow-navigation href="http://localhost:5000/*" />

    <!-- Fallback allow all (last resort, not recommended for production) -->
    <!-- Allow LAN IP ranges -->
    <allow-navigation href="http://10.*/*" />
    <allow-navigation href="http://192.168.*/*" />

    <!-- Fallback allow all -->
    <access origin="https://*/*" />
    <access origin="http://*/*" />

    <!-- External links and intents -->
    <allow-intent href="https://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="upi://pay" />

    <!-- Plugins -->
    <plugin name="cordova-plugin-camera" />
    <plugin name="cordova-plugin-whitelist" />
    <plugin name="cordova-plugin-inappbrowser" />

    <!-- Icons -->
    <icon src="www/images/cartimage.png" />

    <platform name="android">
        <icon src="www/images/cartimage.png" density="mdpi" />
        <icon src="www/images/cartimage.png" density="hdpi" />
        <icon src="www/images/cartimage.png" density="xhdpi" />
        <icon src="www/images/cartimage.png" density="xxhdpi" />
        <icon src="www/images/cartimage.png" density="xxxhdpi" />

        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>

        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>

        <preference name="android-manifest-hardwareAccelerated" value="true" />
    </platform>
</widget>
